<!DOCTYPE html>

<head>

  <link rel="stylesheet" href="styles.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<title>Protfolio Links</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


<style>

    body {
      text-align: center;
      background-color: maroon;
      background-size: fill;
      color: white;
      font-family: Georgia;
      padding-bottom: 70px;
      }

</style>
  
  
</head>

<body>

<h1>Terrance Mortimer Portfolio</h1>


<div class="container">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Content</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="https://drive.google.com/folderview?id=0B8xBr_BEfYCLSXZhVEVfSEp6Tmc&usp=sharing"> Interaction Design<span class="sr-only"></span></a></li>
              <li><a href="https://floating-citadel-8222.herokuapp.com/">Ruby on Rails Application</a></li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Digital Prototypes<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
              <li><a href="http://192.168.33.10:3000/portfolio">Prototypes explained</a></li>
              <li><a href="http://wp.me/1WOFv">Kungfuforeveryone</a></li>
              <li><a href="http://student.city.ac.uk/~abkp211/mmcourseworktm/mmcoursework_file3.html">Bruce Lee homage</a></li>
                  
                </ul>
              </li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Other Content<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="https://drive.google.com/folderview?id=0B8xBr_BEfYCLcGtteWViTUdpRTA&usp=sharing&tid=0B8xBr_BEfYCLSXZhVEVfSEp6Tmc">Curriculum Vitae</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

</body>

