<!DOCTYPE html>

<head>

<title>Interaction Design</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<style>

  body {
    text-align: left;
    background: blue;
    color: white;
    font-family: Georgia;
    }
    

  h1 {
    text-align: center;
    color: white;
    font-family: Georgia;
    }

  h2 {
    text-align: left;
    color: yellow;
    font-family: Georgia;
    padding:1.5px;
    margin:1.5px;
    }

</style>

<h1>Interaction Design</h1>
