<!DOCTYPE html>

<head>

<link rel="stylesheet" href="styles.css">

<title>Interaction Design</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style type="text/css">

  body {
    text-align: left;
    background: blue;
    color: white;
    font-family: Georgia;
    }

  </style>

</head>

<style>

  h1 {
    text-align: center;
    color: yellow;
    font-family: Georgia;
    font-size: 24px;
    padding: 1.5px;
    margin: 1.5px;

    }

  h2 {
    text-align: left;
    color: yellow;
    font-family: Georgia;
    font-size: 22px;
    padding: 2.0px;
    margin: 1.5px;
    
    }

  p {
    text-align: left;
    color: white;
    font-family: sans-serif;
    padding: 2.0px;
    margin: 1.5px;
    
    }
</style>

<h1>Interaction Design</h1>

<h2>Prototypes</h2>

<p>The two prototypes I have created are ofer very differnt functions through their design. The first prototype named 'Kungfuforeveryone', is a Wordpress blogging site which is designed to offer general information on the Martial Art of Kung Fu. This Wordpress website was created using initial sketches, wireframes and Infirmation Architecture methodologies.

The second of the these prototypes I have developed is a Rich Internet Application, which is a desktop programmme translated and built for the web. I used the Adobe Edge Animate web development tool to structure and build an application which I hoped would pay homage to the late great Bruce Lee.

As you will undoubtedly notice, my prototypes both share the same theme, that of Martial Arts. I chose to use this stylised content as I feel that Martial Arts should pay a major ole in most peoples lives, as it has a power to guide and secure a persons life in so many ways. Promoting he Martial Way through creative nline content is an aim where I have to a certain deggree achieved with these projects.</p>


