<!DOCTYPE html>

<head>

<link rel="stylesheet" href="styles.css">

<title>Interaction Design</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style type="text/css">

  body {
    
    background: LightSeaGreen;
    color: white;
    font-family: Georgia;
    }

  </style>

</head>

<style>

  h1 {
    text-align: center;
    color: white;
    font-family: Georgia;
    font-size: 40px;
    padding: 1.5px;
    margin: 1.5px;

    }

  h2 {
    text-align: left;
    color: white;
    font-family: Georgia;
    padding: 2.0px;
    margin: 1.5px;
    
    }

  p {
    text-align: left;
    color: black;
    font-family: sans-serif;
    font-size: 22px;
    padding: 8.0px;
    margin: 1.5px;
    
    }

</style>

<h1>Digital Prototypes</h1>

<br><br>

<h2>Information</h2>


<p>The two prototypes I have created offer very different functions through their design. The first prototype named 'Kungfuforeveryone', is a Wordpress blogging site which is designed to offer general information on the Martial Art of Kung Fu. This Wordpress website was created using initial sketches, wireframes and Information Architecture methodologies.

The second of the these prototypes I have developed is a Rich Internet Application, which is a desktop programme translated and built for the web. I used the Adobe Edge Animate web development tool to structure and build an application which I hoped would pay homage to the late great Bruce Lee.

As you will undoubtedly notice, my prototypes both share the same theme, that of Martial Arts. I chose to use this stylised content as I feel that Martial Arts should pay a major ole in most peoples lives, as it has a power to guide and secure a persons life in so many ways. Promoting he Martial Way through creative online content is an aim where I have to a certain degree achieved with these projects.</p>


